* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #0F0F0F;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    width: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
}

.menu-button {
    display: none; /* Hide the button by default */
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

.contact-page {
    width: 90%;
    margin: 50px auto;
}

.contact-header-txt {
    width: 300px;
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
    font-family: "Bebas Neue", serif;
    border-bottom: 4px solid #005B41;
}

form {
    width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    margin: 5px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito", serif;
}

input {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
}

input::placeholder {
    font-family: "Nunito", serif;
    font-size: 18px;
}

textarea {
    width: 100%;
    padding: 12px 0;
    border-radius: 3px;
    border: none;
}

textarea::placeholder {
    font-family: "Nunito", serif;
    font-size: 18px;
}

.submit {
    margin: 20px 0;
    background-color: #005B41;
    color: #ffffff;
    font-size: 18px;
    font-family: "Nunito", serif;
    font-weight: bold;
    border: none;
}

.socail-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socail-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: bolder;
}

.copy_right {
    margin: 40px auto 0 auto;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
}

.copy_right span {
    color: #005B41;
}





/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .menu-button {
        display: block; /* Show the button */
    }

    .nav-links {
        display: none; /* Hide the links */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust the top position as needed */
        right: 10%;
        width: 100%;
        text-align: right;
    }

    .nav-links.active {
        display: flex; /* Show the links when menu is active */
    }

    

    form {
        width: 280px;
        margin: auto;
    }

    .copy_right {
        margin-top: 0;
        font-size: 18px;
    }
}
