* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #0F0F0F;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    width: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
}

.menu-button {
    display: none; /* Hide the button by default */
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

.personal-skill-page {
    width: 90%;
    margin: 40px auto;
}

.personal-skill-header-txt {
    width: 300px;
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
    font-family: "Bebas Neue", serif;
    border-bottom: 4px solid #005B41;
}

.sub-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    width: 400px;
}

.personal-skill-description {
    margin: 20px auto;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    font-family: "Nunito", serif;
}

.skill-box {
    margin: 20px auto;
    font-family: "Nunito", serif;
}

.box {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate-box-1 {
    width: 200px;
    height: 15px;
    margin: 15px 0;
    background: linear-gradient(to right, #005B41 80%, #242424 20%);
    border-radius: 3px;
}

.rate-box-2 {
    width: 200px;
    height: 15px;
    margin: 15px 0;
    background: linear-gradient(to right, #005B41 85%, #242424 15%);
    border-radius: 3px;
}





.image img {
    width: 300px;
    height: 350px;
    border: 8px solid #005B41;
}

.copy_right {
    margin: 40px auto 0 auto;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
}

.copy_right span {
    color: #005B41;
}





/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .menu-button {
        display: block; /* Show the button */
    }

    .nav-links {
        display: none; /* Hide the links */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust the top position as needed */
        right: 10%;
        width: 100%;
        text-align: right;
    }

    .nav-links.active {
        display: flex; /* Show the links when menu is active */
    }

    .personal-skill-header-txt {
        margin-top: 90px;
    }

    .sub-page {
        flex-direction: column;
    }

    .col {
        width: 300px;
    }


    .copy_right {
        margin-top: 0;
        font-size: 18px;
    }
}
